.offcanvas.offcanvas-end(id="offcanvasRight" + file.id tabindex='-1' aria-labelledby='offcanvasRightLabel')
    .offcanvas-header
        h5#offcanvasRightLabel.offcanvas-title
        button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .offcanvas-body
        if /\.(jpg|jpeg|png|webp|avif|gif)$/.test(file.name)
            img.img-fluid(src=file.url, alt="img")
        p #{file.name}
        p Created at: #{file.createdAt}
        p File Size: #{file.size} bytes
        ul.list-unstyled.gap-2
            li
                a.text-decoration-none(href="#edit-file-modal" + file.id data-bs-toggle='modal' data-bs-target="#edit-file-modal" + file.id) Edit 
            li
                a.text-decoration-none(href="#delete-file-modal" + file.id data-bs-toggle='modal' data-bs-target="#delete-file-modal" + file.id) Delete 
            li 
                a.text-decoration-none(href="/user/" + user.id + "/file/" + file.id + "/download") Download
        
        