.dropdown
    button.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Dropdown button
    ul.dropdown-menu.dropdown-menu-dark
        li
            a.dropdown-item.active(href='#folder-modal' data-bs-toggle='modal' data-bs-target='#folder-modal') Create Folder
        li
            a.dropdown-item(href='#upload-modal' data-bs-toggle='modal' data-bs-target='#upload-modal' ) Upload File 