nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand(href='#') S-Drive
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar' aria-controls='#navbar' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-sm-0
                li.nav-item
                    a.nav-link.active(aria-current='page' href='/') Home
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item
                    a.nav-link.disabled(aria-disabled='true') Disabled
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false') Dropdown
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Another action
                        li
                            a.dropdown-item(href='#') Something else here
    
            .dropdown.pe-4
                a.d-flex.align-items-center(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                    i(class="bi bi-person-circle mb-0 me-2 h2")
                    strong #{user.username}
                ul.dropdown-menu.dropdown-menu-dark.text-small.shadow
                    li
                        a.dropdown-item(href='/logout') Sign out
