if user
    .row.pt-5
        .col
            include components/dropdown.pug
            include components/folder-modal.pug
            include components/upload-modal.pug
            
    .row 
        include components/errors.pug

    .row.pt-5
        .col
            include components/breadcrumbs.pug
            B Name
            hr
    include components/folder-row/folder-row.pug
    include components/file-row/file-row.pug

