if user
    .row
        .col-auto
            include components/dropdown.pug
            include components/folder-modal.pug
            include components/upload-modal.pug
            
    .row 
        include components/errors.pug

    .row
        .col 
            include components/breadcrumbs.pug

    .row
        .col 
            B Name
    include components/folder-row/folder-row.pug
    include components/file-row/file-row.pug

